main {
    background-image: linear-gradient(to bottom right,#447acb, #e0d2ea);
}

div {
    padding: 20px;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    font-weight: 700;
}