<select class="form-control" (change)="onChange($event)">
    <option value="todos" selected>Selecciona una categoría</option>
    <option [value]="categoria" *ngFor="let categoria of allCategorias">{{categoria}}</option>
</select>

<div class="container">
    <div class="post" *ngFor="let post of allPosts">
        <h2>{{post.titulo}}</h2>
        <h3>{{post.autor}}</h3>
        <!-- <h4>{{post.categoria}}</h4> -->
        <img [src]="post.imagen">
        <p class="text">{{post.texto}}</p>
        <p>{{post.fecha}}</p>
    </div>
</div>